<div class="pagination text-center mt-10 mb-32">
    <span class="step-links flex space-x-8 justify-center items-center">
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}" class="text-xl text-blue-500">Précédent</a>
        {% endif %}
        <span class="current text-slate-950 dark:text-white text-xl flex space-x-4">
            <span>Page </span>
            <div class="rounded-full bg-red-400 h-8 w-8 p-2 flex justify-center items-center">
                {{ page.number }}
            </div>
            <span>sur </span>
            <span class="rounded-full bg-red-400 h-8 w-8 p-3 flex justify-center items-center">
                {{ page.paginator.num_pages }}
            </span>
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" class="text-xl text-blue-500">Suivant</a>
        {% endif %}
    </span>
</div>